@media (max-width: 1350px) {
  .projects__container {
    display: flex;
  }
  .projects__card {
    max-width: 30%;
    height: 100%;
  }
  .projects__box p {
    height: auto;
  }
  .projects__content {
    min-height: 80%;
  }
  .projects__buttons {
    min-height: 20%;
  }
  .projects .projects__tecnology i {
    font-size: 5.5rem;
  }
}

@media (max-width: 1039px) {
  .hero img {
    width: 340px;
  }
  .projects .max-width {
    padding: 15px 0;
  }
  .projects .projects__card {
    display: flex;
  }
  .projects .projects__box {
    display: grid;
  }
  .projects .projects__tecnology {
    margin: auto 0;
  }
  .projects .projects__tecnology i {
    font-size: 2.5rem;
  }
}

@media (max-width: 930px) {
  section {
    padding: 15px;
  }
  .hero .max-width {
    display: flex;
  }
  .hero img {
    display: flex;
  }
  .projects__container {
    display: inline;
  }
  .projects__card {
    max-width: 100%;
    min-height: 370px;
    height: auto;
    margin: 20px;
  }
  .projects .projects__tecnology i {
    font-size: 5rem;
  }
  .contact__container {
    display: inline;
  }
  .contact .contact__channels {
    text-align: center;
    margin-bottom: 2rem;
  }
  .contact .column {
    width: 100%;
  }
}

@media (max-width: 879px) {
  section .title::before {
    width: 55%;
  }
  .navbar .menu {
    position: fixed;
    height: 70vh;
    width: 100%;
    max-width: 30rem;
    right: -100%;
    top: 0;
    padding-top: 3.5rem;
    background: #001111f8;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    right: 0;
    text-align: left;
  }
  .navbar .menu li {
    display: block;
    margin: 1rem 2rem;
  }
  .navbar .menu a {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 2.5rem;
  }
  .navbar .menu li a i::before {
    font-size: 23px;
  }
  .cancel-btn i,
  .menu-btn i {
    display: block;
    position: absolute;
  }
  .menu-btn {
    position: absolute;
    right: 5rem;
    top: 1.5rem;
  }
  .cancel-btn i {
    right: 2rem;
    top: 1rem;
  }
  .menu-btn.hide {
    display: none;
  }
  .hero img {
    display: none;
  }
  .hero__container {
    width: 100%;
  }
  .hero__title .none {
    display: none;
  }
  .hero__image {
    display: none;
  }
  .hero__button {
    margin-top: 9rem;
  }
  .about__container {
    display: inline;
  }
  .about__container .left {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about__container .right {
    width: 100%;
  }
  .about img {
    text-align: center;
    width: 20rem;
    height: 20rem;
  }
  .projects__card {
    height: 445px;
  }
  .foot__container {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .projects .projects__tecnology i {
    font-size: 5rem;
  }
}
@media (max-width: 700px) {
  .max-width {
    padding: 0;
  }
  .hero__title,
  .hero__title span {
    font-size: 4rem;
  }
  .hero__title .typing {
    padding: 3.5rem 0;
  }
  .about__container .right h2 {
    margin: 3rem 0;
  }
  .about img {
    margin: 3rem;
  }
  section .title::before {
    width: 65%;
  }
  section .title::after {
    bottom: -4rem;
  }
  .projects .description {
    padding-top: 5rem;
    width: 100%;
  }
  .projects .projects__tecnology i {
    font-size: 4rem;
  }
  .contact__container .text {
    margin: 3rem;
  }
  .foot .foot__container {
    display: inline-block;
  }
  .foot__by h3 {
    text-align: center;
  }
  .foot .foot__icons {
    font-size: 0.6rem;
    text-align: center;
  }
}
@media (max-width: 470px) {
  .hero__button--container {
    margin-top: 10px;
  }
  .hero__button {
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    padding: 2rem;
  }
  .projects__card {
    height: 450px;
  }
}

@media (max-width: 375px) {
  section {
    padding: 1rem;
  }
  section .title::after {
    bottom: -3.5rem;
  }
  .navbar__max-width {
    margin: 0rem 3rem;
  }
  .hero__title {
    width: 100%;
    text-align: center;
    margin-left: 1.5rem;
  }
  .hero__title .typing {
    font-size: 2.9rem;
  }
  .hero__title .none {
    display: flex;
  }
  .hero__button {
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    padding: 2rem;
  }
  .about__container .right a {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    width: 70%;
    text-align: center;
  }
  .about img {
    margin-top: 6rem;
  }
  .projects__card {
    margin: 15px 0;
  }
  .contact__container {
    width: 100%;
  }
  .contact__container .button {
    text-align: center;
  }
  .contact__container .text {
    margin: 3rem 1rem 1.4rem;
    text-align: center;
  }
  .fields input {
    width: 100%;
  }
  .field input,
  .field textarea {
    width: 100%;
  }
  .foot__by h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 390px) {
  .projects__card {
    min-height: 480px;
    height: auto;
  }
}

@media (max-width: 320px) {
  .navbar {
    padding: 20px 10px;
  }
  .navbar__logo a {
    font-size: 2rem;
  }
  .navbar__logo a strong {
    font-size: 2rem;
  }
}
