@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.6rem;
}

html {
  scroll-behavior: smooth;
  font-family: "rubik", sans-serif;
  font-size: 62.5%;
}

h5 {
  font-weight: 400;
  color: #fff;
}

.scroll-up-button {
  position: fixed;
  width: 44px;
  height: 42px;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 3rem;
  font-size: 3.5rem;
  z-index: 9999;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  background-color: #006600;
  color: #fff;
}

.scroll-up-button.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.max-width {
  display: flex;
  max-width: 100%;
  padding: 60px;
  margin: auto;
}

section {
  padding: 50px;
  min-height: 100vh;
}
section .title {
  position: relative;
  text-align: center;
  font-family: "Popins", sans-serif;
  font-size: 4rem;
  padding: 20px;
  margin: 20px 0;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30%;
  height: 0.2rem;
  background-color: #002220;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  font-size: 2rem;
  color: #006600;
  padding: 2px;
  background-color: #fff;
  transform: translateX(-50%);
}

.about__container,
.projects__container,
.contact__container,
.foot__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero,
.projects,
.foot {
  background-color: #001111;
  color: #fff;
}

.navbar {
  position: fixed;
  padding: 30px 0;
  width: 100%;
  z-index: 5;
  transition: all 0.3s ease;
}
.navbar__max-width {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 60px;
  margin: auto;
}
.navbar__logo {
  margin-right: -25px;
}
.navbar__logo a strong {
  font-size: 2.5rem;
  color: #fff;
}
.navbar__logo a {
  font-size: 2.5rem;
  font-weight: 300;
  transition: all 0.3s ease;
  color: #006600;
}
.navbar__logo i {
  color: #fff;
}
.navbar__menu li {
  display: inline-block;
  list-style: none;
}
.navbar__menu li a i {
  color: #006600;
  margin-right: 10px;
}
.navbar__menu li .menu-mobile {
  padding: 2px 15px;
  font-size: 2rem;
  transition: all 0.3s ease;
  color: #fff;
}
.navbar__menu li .menu-mobile:hover {
  transform: scale(1.05);
  color: #006600;
}

.navbar.sticky {
  padding: 20px 0;
  background-color: #006600;
}
.navbar.sticky .logo {
  color: #fff;
}
.navbar.sticky .fa-terminal {
  color: #002220;
}
.navbar.sticky li .menu-mobile {
  transition: all 0.3s ease;
  color: #fff;
}
.navbar.sticky li .menu-mobile:hover {
  transform: scale(1.05);
  color: #002220;
}
.navbar.sticky .menu li a i {
  color: #fff;
  transition: all 0.3s ease;
}
.navbar.sticky .menu li a:hover i {
  color: #002220;
  transform: scale(1.05);
}

.cancel-btn i,
.menu-btn i {
  font-size: 3rem;
  cursor: pointer;
  display: none;
  color: #fff;
}

.hero {
  display: flex;
  height: 100vh;
  color: #fff;
  background-color: #001111;
}
.hero__max-width {
  width: 100%;
  display: inline-block;
  padding-top: 65px;
}
.hero__container {
  width: 65%;
  display: inline-block;
  padding-top: 0;
}
.hero__title {
  font-size: 5rem;
  margin-top: 50px;
  line-height: 7rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  font-family: "Popins", sans-serif;
}
.hero__title span {
  font-size: 5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #006600;
}
.hero__button--container {
  display: inline-block;
  width: 100%;
  margin-top: 60px;
}
.hero__button {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  margin-top: 50px;
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
  color: #fff;
  border: 0.1rem solid #006600;
}
.hero__button:hover {
  transform: scale(1.05);
}
.hero__pdf {
  margin-left: 10px;
}
.hero__image {
  width: 25%;
  display: inline-block;
  align-items: flex-end;
}

.about .title::after {
  content: "Un resumen de mi historia 🧙🏽‍♂️";
}
.about h2 {
  color: #002220;
}
.about__container .left {
  width: 45%;
}
.about__container img {
  height: 320px;
  width: 320px;
  border-radius: 200px;
  object-fit: cover;
}
.about__container .right {
  width: 55%;
}
.about__container .right h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.about__container .right .about__resumen {
  color: #006600;
  letter-spacing: 2px;
  line-height: 30px;
  border: 1px solid #006600;
  border-left: 5px solid #006600;
  margin: 15px;
  padding: 10px;
}
.about__container .right p {
  text-align: justify;
  line-height: 2.5rem;
}
.about__container .right a {
  display: inline-block;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 35px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
  border: 0.1rem solid #006600;
  box-shadow: 1px 2px 3px #001111;
  color: #002220;
}
.about__container .right a:hover {
  transform: scale(1.05);
}

.projects .title::after {
  background-color: #001111;
  content: "Experiencia profesional 🤝🏽";
}
.projects .title::before {
  background-color: #fff;
  color: #006600;
}
.projects .description {
  width: 70%;
  margin: 0 auto;
  text-align: justify;
  line-height: 2.5rem;
}
.projects__card {
  max-width: calc(33% - 20px);
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 15px 35px;
  transition: all 0.3s ease;
  background-color: #002220;
}
.projects__card:hover {
  background-color: #006600;
  transform: scale(1.05);
}
.projects__card:hover a {
  transition: all 0.3s ease;
  border-color: #002220;
}
.projects__card:hover h3 {
  color: #002220;
  transition: all 0.3s ease;
}
.projects__box i {
  font-size: 6rem;
  padding: 20px;
  color: #fff;
}
.projects__box img {
  padding: 20px;
}
.projects__box h3 {
  font-size: 2rem;
  padding: 20px;
  color: #006600;
}
.projects__box p {
  height: 150px;
  padding: 10px;
}
.projects__box a {
  display: inline-block;
  color: #fff;
  padding: 10px;
  margin: 10px 10px;
  border-radius: 10px;
  border: 0.1rem solid #006600;
}
.projects__box a:hover {
  transform: scale(1.05);
  color: #002220;
}
.projects__tecnology i {
  font-size: 25px;
}
.projects__tecnology i:hover {
  filter: drop-shadow(0 2px 5px rgba(255, 255, 255, 0.7));
  transition: all 0.3s ease;
}
.projects__tecnology .fa-html5:hover {
  color: orangered;
}
.projects__tecnology .fa-css3-alt:hover {
  color: blue;
}
.projects__tecnology .fa-elementor:hover {
  color: blueviolet;
}
.projects__tecnology .fa-sass:hover {
  color: darksalmon;
}

.contact .title::after {
  content: "¿Hacemos equipo? 🙌🏽";
}
.contact h2,
.contact h3 {
  color: #002220;
}
.contact__container .left {
  width: 45%;
}
.contact__container .text {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
}
.contact__container p {
  text-align: justify;
}
.contact__container .row {
  display: inline-block;
  width: 13rem;
  height: 4rem;
  margin: 2rem 1rem;
  text-align: center;
  border-radius: 1rem;
  transition: all 0.3s ease;
  border: 0.1rem solid #001111;
  box-shadow: 1px 2px 3px #001111;
}
.contact__container .row:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.contact__container i {
  font-size: 2rem;
  padding-top: 0.5rem;
  color: #002220;
}
.contact__container a {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 0.3rem;
  padding-top: 0.5rem;
  letter-spacing: 0.1rem;
  color: #002220;
}
.contact .right {
  width: 50%;
  border-radius: 2.5rem;
  padding: 1.5rem;
  border: 1px solid #002220;
}
.contact__fields {
  display: flex;
  justify-content: space-between;
}
.contact__fields .name,
.contact__fields .email {
  width: 47%;
}
.contact__fields .subject,
.contact__fields .text-area {
  width: 100%;
}
.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  margin: 7px 0;
  border: 1px solid lightgray;
  border-radius: 0.6rem;
  outline: none;
  resize: none;
  font-family: "rubik", sans-serif;
}
.contact .idea {
  height: 100px;
}
.contact .button {
  text-align: center;
}
.contact button {
  padding: 10px;
  margin: 10px 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
  color: #002220;
  background-color: #fff;
  border: 0.1rem solid #006600;
  box-shadow: 1px 2px 3px #001111;
}
.contact button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.contact .alert {
  text-align: center;
  border-radius: 10px;
  color: #001111;
  background-color: #0066005b;
}

.foot .max-width {
  padding: 20px;
}
.foot__container {
  display: flex;
  width: 95%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.foot__container .fab {
  display: inline-block;
  font-size: 3.5rem;
  margin: 10px;
  transition: all 0.3s ease;
  color: #fff;
}
.foot__container .fab:hover {
  transform: scale(1.05);
}
.foot__by h3 {
  letter-spacing: 0.1rem;
}
.foot__by h3 span {
  color: #006600;
}