.about {
  .title::after {
    content: "Un resumen de mi historia 🧙🏽‍♂️";
  }
  h2 {
    color: $color-secundario;
  }
  &__container {
    .left {
      width: 45%;
    }
    img {
      height: 320px;
      width: 320px;
      border-radius: 200px;
      object-fit: cover;
    }
    .right {
      width: 55%;
      h2 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 10px;
      }
      .about__resumen {
        color: $color-primario;
        letter-spacing: 2px;
        line-height: 30px;
        border: 1px solid $color-primario;
        border-left: 5px solid $color-primario;
        margin: 15px;
        padding: 10px;
      }
      p {
        text-align: justify;
        line-height: 2.5rem;
      }
      a {
        display: inline-block;
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
        margin-top: 35px;
        padding: 10px 20px;
        border-radius: 10px;
        transition: all 0.3s ease;
        border: 0.1rem solid $color-primario;
        box-shadow: 1px 2px 3px $color-dark;
        color: $color-secundario;
      }
      a:hover {
        transform: scale(1.05);
      }
    }
  }
}
