.contact {
  .title::after {
    content: "¿Hacemos equipo? 🙌🏽";
  }
  h2,
  h3 {
    color: $color-secundario;
  }
  &__container {
    .left {
      width: 45%;
    }
    .text {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 3rem;
      text-align: center;
    }
    p {
      text-align: justify;
    }
    .row {
      display: inline-block;
      width: 13rem;
      height: 4rem;
      margin: 2rem 1rem;
      text-align: center;
      border-radius: 1rem;
      transition: all 0.3s ease;
      border: 0.1rem solid $color-dark;
      box-shadow: 1px 2px 3px $color-dark;
    }
    .row:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
    i {
      // padding: 0.3rem 0.3rem;
      font-size: 2rem;
      padding-top: 0.5rem;
      color: $color-secundario;
    }
    a {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 500;
      margin-left: 0.3rem;
      padding-top: 0.5rem;
      letter-spacing: 0.1rem;
      color: $color-secundario;
    }
  }
  .right {
    width: 50%;
    border-radius: 2.5rem;
    padding: 1.5rem;
    border: 1px solid $color-secundario;
  }
  &__fields {
    display: flex;
    justify-content: space-between;
    .name,
    .email {
      width: 47%;
    }
    .subject,
    .text-area {
      width: 100%;
    }
  }
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    border: 1px solid lightgray;
    border-radius: 0.6rem;
    outline: none;
    resize: none;
    font-family: $fuenteTextos;
  }
  .idea {
    height: 100px;
  }
  .button {
    text-align: center;
  }
  button {
    padding: 10px;
    margin: 10px 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: $color-secundario;
    background-color: $color-light;
    border: 0.1rem solid $color-primario;
    box-shadow: 1px 2px 3px $color-dark;
  }
  button:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .alert {
    text-align: center;
    border-radius: 10px;
    color: $color-dark;
    background-color: #0066005b;
  }
}
