.hero {
  display: block;
  height: 100vh;
  color: $color-light;
  background-color: $color-dark;
  &__max-width {
    width: 100%;
    display: inline-block;
    padding-top: 65px;
  }
  &__container {
    width: 65%;
    display: inline-block;
    padding-top: 0;
  }
  &__tecnology--container {
    display: flex;
    min-height: 100px;
    justify-content: space-evenly;
    width: 100%;
  }
  &__tecnology--container i {
    font-size: 40px;
    transition: all 0.3s ease;
  }
  &__tecnology--container i:hover {
    transform: scale(1.05);
    color: $color-primario;
  }
  &__title {
    font-size: 5rem;
    margin-top: 50px;
    line-height: 7rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    font-family: $fuenteTitulos;
  }
  &__title span {
    font-size: 5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: $color-primario;
  }
  &__button--container {
    display: inline-block;
    width: 100%;
    margin-top: 60px;
  }
  &__button {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    margin-top: 50px;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: $color-light;
    border: 0.1rem solid $color-primario;
  }
  &__button:hover {
    transform: scale(1.05);
    background-color: $color-primario;
    border-color: $color-light;
  }
  &__pdf {
    margin-left: 10px;
  }
  &__image {
    width: 25%;
    display: inline-block;
    align-items: flex-end;
  }
}
