.projects {
  .title::after {
    background-color: $color-dark;
    content: "Experiencia profesional 🤝🏽";
  }
  .title::before {
    background-color: $color-light;
    color: $color-primario;
  }
  .description {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    line-height: 2.5rem;
  }
  &__card {
    max-width: calc(33% - 20px);
    height: auto;
    text-align: center;
    border-radius: 10px;
    padding: 15px 35px;
    transition: all 0.3s ease;
    background-color: $color-secundario;
  }
  &__card:hover {
    background-color: $color-primario;
    transform: scale(1.05);
    a {
      transition: all 0.3s ease;
      border-color: $color-secundario;
    }
    h3 {
      color: $color-secundario;
      transition: all 0.3s ease;
    }
  }
  &__box {
    i {
      font-size: 6rem;
      padding: 20px;
      color: $color-light;
    }
    img {
      padding: 20px;
    }
    h3 {
      font-size: 2rem;
      padding: 20px;
      color: $color-primario;
    }
    p {
      height: 150px;
      padding: 10px;
    }
    a {
      display: inline-block;
      color: $color-light;
      padding: 10px;
      margin: 10px 10px;
      border-radius: 10px;
      border: 0.1rem solid $color-primario;
    }
    a:hover {
      transform: scale(1.05);
      color: $color-secundario;
    }
  }
  &__tecnology i {
    font-size: 25px;
  }
  &__tecnology i:hover {
    filter: drop-shadow(0 2px 5px rgba(255, 255, 255, 0.7));
    transition: all 0.3s ease;
  }
  &__tecnology {
    .fa-html5:hover {
      color: orangered;
    }
    .fa-css3-alt:hover {
      color: blue;
    }
    .fa-elementor:hover {
      color: blueviolet;
    }
    .fa-sass:hover {
      color: darksalmon;
    }
  }
}
